<section id="architecture">
	<h3>Architecture</h3>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
	  <polygon points="100 0 100 10 0 10" style="fill: white; border: white"/>
	</svg>            
    <div class="container">
        <div class="row">
        	<div class="col-sm-offset-1 col-sm-10">
        		<div class="card">
        			<h1>Building GraphQL servers with Prisma</h1>
        			<p>GraphQl is a standard for data fetching with a rich ecosystem of tools and libraries for client-side development. With Prisma you can advantage of this same ecosystem in your server code.</p>
        			<img src="img/architecture-img.png">
        			<div class="button-list">
        				<a class="btn btn-default btn-lg" href="#">
	                        Read Blog Post
	                    </a>
	                    <a class="btn btn-default btn-lg link-button" href="#">
	                        See examples
	                        <img src="img/arrow-icon.png">
	                    </a>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</section>
