<section id="community">
	<div class="container">
		<h1>Build by the Graphcool community</h1>
		<p>Trusted by more than 50,000 developers</p>
	</div>
	<div class="row testimonal">
		<img src="img/community.png">
	</div>
	<div class="row">
		<a class="btn btn-default btn-lg link-button forum" href="#">
            visit forum
            <img src="img/arrow-icon.png">
        </a>
        <a class="btn btn-default btn-lg link-button slack" href="#">
            Join our slack
            <img src="img/arrow-icon.png">
        </a>
	</div>
</section>
