<section id="experience">
    <div class="container">
        <div class="row">
            <h1>A radically improved developer experience</h1>
            <img src="img/star.png">
            <p>Reducing complexity and development time for frontend and backend developers.</p>
            <ul class="nav nav-pills">
			    <li class="active"><a href="#1a" data-toggle="tab">Ide Integration</a></li>
			    <li><a href="#2a" data-toggle="tab">Prisma cli</a></li>
			    <li><a href="#3a" data-toggle="tab" class="last-tab">Graphql playground</a></li>
			</ul>
			<div class="tab-content clearfix">
				<div class="tab-pane active" id="1a">
					<video autoplay loop muted>
						<source src="video/7.mp4" type="video/mp4">
					</video>
				</div>
				<div class="tab-pane" id="2a">
					<video autoplay loop muted>
						<source src="video/star_trails.mp4" type="video/mp4">
					</video>
				</div>
				<div class="tab-pane" id="3a">
					<video autoplay loop muted>
						<source src="video/small.mp4" type="video/mp4">
					</video>
				</div>
			</div>
        </div>
    </div>
</section>
