<section id="services">
    <div class="service-header">
        <img src="img/intro.png">
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="tooling-service">
                    <img src="img/service1.png">
                    <h3>Compatible with existing tooling</h3>    
                    <p>GraphQL has a vast ecosystme of tools and libraries. Prisma works with them all.</p>
                    <a class="btn btn-default btn-lg link-button" href="#">
                        Quick Start
                        <img src="img/arrow-icon.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="api-service">
                    <img src="img/service2.png">
                    <h3>Powerful GraphQL API</h3>    
                    <p>Includes filters, transactional mutation and realtime subscriptions</p> 
                    <a class="btn btn-default btn-lg link-button" href="#">
                        Explore api
                        <img src="img/arrow-icon.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="runs-service">
                    <img src="img/service3.png">
                    <h3>Runs everywhere</h3>    
                    <p>As a Cloud Native application Prisma cna be deployed to your infrastructure</p>
                    <a class="btn btn-default btn-lg link-button" href="#">
                        Go to docs
                        <img src="img/arrow-icon.png">
                    </a>    
                </div>
            </div>
        </div>
    </div>
</section>
